.header {
  display:flex;
  justify-content: space-between;
  border: 1px solid black;
  
}

.logo {
  width: 200px;
}

.nav-items {
  /* padding: 40px; */
}

.nav-items > ul {
  font-size: 27px;
  display: flex;
  list-style-type: none;
  padding: 0 50px
;
}

.nav-items > ul > li {
  /* font-size: 30px; */
  padding: 10px;
  margin: 10px;
}

.res-card{
  background-color: #f0f0f0;
  padding: 5px;
  
  width: 200px;
  /* height: 300px; */
}
.res-card:hover {
  border: 1px solid black;
}
.res-logo {
  /* padding: 5px; */
  width: 100%;
  height: 50%;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}
.filter-btn {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}